<div ng-controller="gameController as game">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" id="brand-large" href="#/main">Spell-bound</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><p id="login-name" class="navbar-text">Playing as <strong>{{ home.currentUser }}</strong></p></li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-12">
          <span class="pull-right">
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3">
          <div class="panel panel-default side-panels">
            <div class="panel-heading">
              <p id="completed-title" class="panel-title">Completed Words<span id="completed-length" class="badge pull-right">{{ game.completedWords.length }}</span></p>
            </div>
            <div class="panel-body">
              <ul id="completed-words" class="list-group">
                <li ng-repeat="word in game.completedWords track by $index" class="list-group-item text-center">{{ word }}
                </li>
              </ul>
            </div>
            <div class="panel-footer">Current Streak <span id="completed-length" class="badge pull-right">{{ game.streakCount }}</span></div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <img ng-src="{{ game.word.image }}" id="word-image" class="img-thumbnail img-responsive">
        </div>
        <div class="col-xs-3 col-sm-3">
          <div class="panel panel-default side-panels">
            <div class="panel-heading">
              <p id="completed-title" class="panel-title text-center">Current Level</p>
            </div>
            <div class="panel-body">
              <div id="level">{{ game.levelCount }}</div>
              <div id="next-level">{{ game.nextLevel }}</div>
            </div>
          </div>
        </div>
        <div id="starting-area" class="col-xs-12 col-sm-12">
          <div id="button-wrap">
            <span ng-repeat="letter in game.word.wordArray track by $index">
              <button ng-click="game.answerTry(letter)" type="button" class="btn btn-warning letter-tiles">
                <p class="letters">{{ letter }}</p>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div ng-show="game.correct() === true"></div>
          <div ng-show="game.correct() === false"></div>
            <div id="answer-area" class="well">
              <div ng-show="game.inputAnswer.length === 0">
                <h3 id="answer-prompt">{{ game.answerPrompt }}</h3>
              </div>
              <span ng-repeat="letter in game.inputAnswer track by $index" class="answer-letters">
                <button ng-click="game.undo(letter)" type="button" class="btn btn-warning answer-letter-tiles">
                  <p class="letters">{{ letter }}</p>
                </button>
              </span>
            </div>
        </div>
      </div>
      <!-- Correct Modal -->
      <div class="modal fade" id="correctModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div id="prompt-modal-body" class="modal-body">
              <img class="verdict" src="/images/correct.png">
              <div id="fun-fact">
                <p id="the-word">{{ game.word.caps }}</p>
                <p id="sound">{{ game.word.sound }}</p>
                <p id="speech">{{ game.word.speech }}</p>
                <p id="definition">{{ game.word.definition }}</p>
              </div>
              <div class="modal-button-options pull-right">
                <button ng-click="game.playAgain(game.lastWord, true)" type="button" data-dismiss="modal" class="btn btn-default play-again">Play Again</button>
                <button ng-click="home.loggedIn = false; game.playAgain(game.lastWord, true); game.quit()" type="button" data-dismiss="modal" class="btn btn-default main">Main</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Incorrect Modal -->
      <div class="modal fade" id="incorrectModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div id="prompt-modal-body" class="modal-body">
              <img class="verdict" src="/images/oops.png">
              <div class="modal-button-options pull-right">
                <button ng-click="game.playAgain(game.lastWord, false)" type="button" data-dismiss="modal" class="btn btn-default play-again">Try Again</button>
                <button ng-click="home.loggedIn = false; game.playAgain(game.lastWord, false); game.quit()" type="button" data-dismiss="modal" class="btn btn-default main">Main</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
