body {
  position: relative;
  background: url(images/landing-opac.jpg);
}

#intro {
  font-family: Comic Sans MS;
  color: white;
  height: 768px;
  background-color: rgba(255, 102, 0, 0.5);
}

#intro-title {
  margin-top: -250px;
  width: 650px;
}
.intro-text {
  margin-top: -240px;
  padding-bottom: 20px;
}

.letter-tiles {
  width: 50px;
  height: 50px;
  color: white;
  font-family: Comic Sans MS;
  font-size: 30px;
  margin: 3px 3px 0px 3px;
}

.answer-letter-tiles {
  width: 50px;
  height: 50px;
  color: white;
  font-family: Comic Sans MS;
  font-size: 30px;
  margin: 6px 3px 0px 3px;
}

.letters {
  margin-top: -3px;
}

#button-wrap {
  text-align: center;
}

#starting-area {
  height: 50px;
}

.well {
  margin-top: 25px;
  height: 100px;
}

#word-image {
  display: block;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.answer-letters {
  display: inline-block;
}

#answer-prompt {
  font-family: Comic Sans MS;
  color: lightgrey;
  text-align: center;
}

.modal-content {
  margin-top: 70px;
  border: 7px solid #FFF;
  background-color: #E1D4C0;
  height: 400px;
  border-radius: 33px;
}

.modal-button-options {
  display: block;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
}

.play-again {
  margin-right: 20px;
  height: 70px;
  width: 190px;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  font-family: Comic Sans MS;
  background-color: #FF6600;
  border-radius: 20px;
}

.submit {
  height: 70px;
  width: 135px;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  font-family: Comic Sans MS;
  background-color: #FF6600;
  border-radius: 20px;
}

.next-level {
  height: 70px;
  width: 155px;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  font-family: Comic Sans MS;
  background-color: #FF6600;
  border-radius: 20px;
}

.continue-btn {
  margin-right: 20px;
  height: 70px;
  width: 160px;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  font-family: Comic Sans MS;
  background-color: #FF6600;
  border-radius: 20px;
}

.main {
  margin-right: 10px;
  height: 70px;
  width: 200px;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  font-family: Comic Sans MS;
  background-color: #6699FF;
  border-radius: 20px;
}

.verdict {
  display: block;
  margin-top: -215px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.main-btns {
  margin-top: 100px;
}

.play-btn {
  height:70px;
  width: 150px;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  font-family: Comic Sans MS;
  background-color: #6699FF;
  border-radius: 20px;
}

.leaderboard-btn {
  padding-top: 20px;
  margin-top: 20px;
  height: 100px;
  width: 600px;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  font-family: Comic Sans MS;
  background-color: #6699FF;
  border-radius: 40px;
}

.start-over-btn {
  height: 70px;
  width: 190px;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  font-family: Comic Sans MS;
  background-color: #6699FF;
  border-radius: 20px;
}

#name-input {
  position: absolute;
  margin-top: 20px;
  margin-left: 18%;
  width: 60%;
  height: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
}

#login-prompt {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: -80px;
  margin-left: -10px;
  font-family: Comic Sans MS;
}

.stat-titles {
  color: white;
  font-size: 20px;
  font-family: Comic Sans MS;
}

.badges-count {
  background-color: #FF6600 !important;
}

#panel-stats {
  max-height: 200px;
  overflow-y:scroll;
}

#brand-large {
  color: white;
  font-size: 25px;
  font-family: Comic Sans MS;
}

#fun-fact {
  position: absolute;
  font-family: Comic Sans MS;
  margin-top: -150px;
}

#the-word {
  font-size: 50px;
}

#sound {
  font-size: 25px;
}

#speech {
  font-size: 20px;
}

#definition {
  font-size: 20px;
  margin-top: 40px;
}

#login-name {
  font-family: Comic Sans MS;
  color: white;
  font-size: 20px;
  padding-right: 15px;;
}

.side-panels {
  height: 300px;
  border-radius: 30px !important;
}

.panel-heading {
  background-color: rgba(255, 102, 0, 0.5) !important;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}

#next-level {
  color: #6699FF;
  margin-right: 15px;
  font-size: 20px;
}

.words-done {
  font-size: 20px;
  color: #6699FF;
  font-family: Comic Sans MS;
}

#difficulty-tracker {
  font-family: Comic Sans MS;
  width: 100px;
  text-align: center;
}

#level-tracker {
  font-family: Comic Sans MS;
  width: 50px;
  text-align: center;
}

#streak-tracker {
  font-family: Comic Sans MS;
  width: 50px;
  text-align: center;
}

.navbar {
  background-color: rgba(102, 153, 255, 0.9);
}

.navbar-header {
  color: white;
}

.input-group-addon {
  font-family: Comic Sans MS !important;
}
